body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;
}

h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 66px;
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: Roboto;
  color: #000000;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #eeeeee;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-top,
.catalog-header-top {
  padding-top: 49px;
}

.header-logo {
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 40px;
}

.main-navigation {
  float: left;
  width: 760px;
}

.main-navigation ul {
  padding-left: 160px;
}

.main-navigation li {
  display: inline-block;
  height: 39px;
  margin-right: 45px;
  padding: 0;
  padding-top: 26px;
}

.cart-block {
  float: right;
  width: 160px;
  height: 39px;
  margin-left: 40px;
  padding-top: 26px;
}

.slider {
  position: relative;

  width: 1160px;
}

.slider-left {
  float: left;
  width: 560px;
  height: 266px;
  margin-top: 86px;
  margin-bottom: 80px;
}

.slides {
  width: 1160px;
}

.slide-1 {
  background-image: url(../img/slider-phones.png);
  background-repeat: no-repeat;
  background-position: 431px 18px;
}

.slide-2 {
  background-image: url(../img/slider-desktop.png);
  background-repeat: no-repeat;
  background-position: 496px 1px;
}

.slide-3 {
  background-image: url(../img/slider-tablet.png);
  background-repeat: no-repeat;
  background-position: 400px 19px;
}

.slider-headline {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-indicator {
  position: absolute;
  top: 316px;
  left: 536px;
}

.slider-indicator li {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  list-style-type: none;

  background-color: #ffffff;
  border-radius: 50%;
}

.slide-2,
.slide-3 {
  display: none;
}

.main-header {
  margin-bottom: 80px;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.services-item:last-child {
  margin-right: 60px;
}

.description {
  float: left;
  width: 700px;
  margin-top: 80px;
  margin-right: 100px;
}

.description li {
  list-style-type: none;
}

.kpi {
  float: right;
  width: 360px;
  margin-top: 40px;
}

.kpi li {
  display: inline-block;
}

.projects-list li {
  display: inline-block;
  width: 260px;
  margin-right: 40px;

  text-align: center;
}

.projects-list li:last-child {
  margin-right: 0;
}

.projects {
  margin-top: 80px;
}

.map {
  position: relative;

  margin: 0 auto;
}

.main-index .map {
  margin-top: 80px;
}

.main-catalog .map {
  margin-top: 63px;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 140px;

  width: 319px;
  padding: 50px;
  padding-bottom: 47px;

  background-color: #ffffff;
}

.footer {
  padding-top: 69px;
  padding-bottom: 70px;
}

.social-btn li {
  display: inline-block;
}

.social-btn {
  float: left;
  width: 360px;
  margin-right: 20px;
}

.footer-cta {
  display: inline-block;
  width: 560px;
}

.feedback-form {
  position: fixed;
  top: 50px;
  left: 50%;

  display: none;
  width: 960px;
  height: 590px;
  margin-left: -480px;

  background-color: #ffffff;
}

.shop-title h1 {
  width: 760px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 116px;

  line-height: 55px;
}

.catalog {
  margin-top: 60px;
}

.filter {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.arrange {
  float: right;
  width: 760px;
}

.arrange-heading {
  display: block;
  float: left;
  width: 160px;
  margin-right: 240px;
}

.arrange ul {
  display: block;
  float: left;
}

.arrange-group-1 {
  width: 280px;
  margin-right: 20px;
}

.arrange-group-2 {
  width: 60px;
}

.arrange li {
  display: inline-block;

  vertical-align: top;
}

.catalog-content {
  float: left;
  width: 760px;
  margin-top: 60px;
}

.flypage {
  float: left;
  width: 360px;
  margin-right: 40px;
}

.flypage:nth-child(2n) {
  margin-right: 0;
}

.catalog-pages {
  float: left;
  width: 443px;
  margin-top: 60px;
  margin-left: 400px;
}

.catalog-pages li,
.page-next {
  display: inline-block;
}

.catalog-pages ol {
  display: inline-block;
  padding: 0;
}
