body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, Arial, sans-serif;
  color: #283136;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header,
.catalog-header {
  background-color: #eeeeee;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-top,
.catalog-header-top {
  padding-top: 49px;
}

.header-logo {
  float: left;
  width: 160px;
  margin-right: 177px;
}

.catalog-header .header-logo:hover {
  opacity: 0.8;
}

.catalog-header .header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  float: left;
  width: 623px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  font-size: 0;
  }

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.main-navigation a,
.cart-block a {
  display: inline-block;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 24px;
  position: relative;
}

.main-navigation-active {
  position: relative;
}
.main-navigation-active::after,
.cart-block-active::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fb565a;
  bottom: 5px;
  right: 24px;
  left: 23px;
}

.main-navigation a:not(.main-navigation-active):hover  {
  color: #f8888b;
}

.main-navigation a:not(.main-navigation-active):active {
  color: #bdbdbd;
}

.cart-block {
  float: right;
  width: 160px;
  margin-top: 17px;
}

.cart-block a {
  display: block;
  float: right;
  padding-right: 0;
}

.cart-block a::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -17px;
  top: 17px;
  background: url("../img/cart-icon.png") no-repeat;
  opacity: 0.3;
  background-position: 0 -1px;
}

.cart-block a:not(.cart-block-active):hover {
  color: #f8888b;
}

.cart-block a:not(.cart-block-active):active {
  color: #bdbdbd;
}

.slider {
  position: relative;
  width: 1160px;
}

.slider-left {
  float: left;
  width: 560px;
}

.slider-headline {
  font-family: Roboto, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 71px;
}

.slider-left p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}

.btn {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #fb565a;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slider-left .btn {
  display: block;
  width: 240px;
  padding: 16px 0;
  margin-top: 38px;
  margin-bottom: 80px;
  border-radius: 5px;
}

.slides {
  width: 1160px;
}

.slide-1 {
  background-image: url("../img/slider-phones.png");
  background-repeat: no-repeat;
  background-position: 431px 10px;
}

.slide-2 {
  background-image: url("../img/slider-desktop.png");
  background-repeat: no-repeat;
  background-position: 496px 1px;
}

.slide-3 {
  background-image: url("../img/slider-tablet.png");
  background-repeat: no-repeat;
  background-position: 400px 19px;
}

.slider-indicator {
  position: absolute;
  top: 306px;
  left: 542px;
}

.slider-indicator ul {
  margin: 0;
  padding: 0;
}

.slider-indicator li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-indicator a {
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #ffffff;
  margin-right: 23px;
  box-shadow: 0 0 0 5px #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
}

a.slider-indicator-active {
  background-color: white;
  box-shadow: 0 0 0 5px white;
  border: 2px solid #c1c1c1;
}

.slide-2,
.slide-3 {
  display: none;
}

.main-header {
  margin-bottom: 80px;
}

.services {
  margin-bottom: 38px;
}

.services::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #eeeeee;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.services-item img {
  margin: 0;
  padding: 0;

}

.services-item h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  }

.services-item p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-top: 17px;
}

.services .btn {
  margin-top: 32px;
  display: block;
  width: 82px;
  padding: 16px 39px;
  border-radius: 5px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
}

.services-item:last-child {
  margin-right: 60px;
}

.description {
  float: left;
  width: 700px;
}

.description-headline {
  font-family: Roboto, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  display: block;
  padding: 0;
  margin: 0;
}

.description p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-top: 33px;
}

.description h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 39px;
}

.description ul {
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
}

.description li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  padding-top: 24px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.description li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 34px;
  left: 1px;
}

.kpi {
  float: right;
  width: 360px;
}

.kpi h3 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0 17px;
  margin-top: 30px;
}

.kpi ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.kpi li {
  margin: 0;
  padding: 0;
  width: 120px;
  float: left;
}

.kpi-value {
  font-family: Roboto, Arial, sans-serif;
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
  margin-top: 40px;
}

.kpi-name {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #283136;
  margin-top: 20px;
}

.about-us::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #eeeeee;
}

.projects-list {
  margin: 0;
  padding: 0;
}

.projects-list li {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  margin-right: 40px;
  opacity: 0.2;
}

.projects-list li:hover {
  opacity: 1;
}

.projects-list li:active {
  opacity: 0.1;
}

.projects-list li:last-child {
  margin-right: 0;
}

.projects-list::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #eeeeee;
}

.map {
  position: relative;
  height: 416px;
  background: url("../img/map.png") no-repeat;
  background-position: center;
}

.main-index .map {
  margin-top: 68px;
}

.main-catalog .map {
  margin-top: 60px;
}

.contacts {
  position: absolute;
  top: 54px;
  left: 50%;

  width: 219px;
  padding: 50px 50px;
  margin-left: -580px;
  background-color: #ffffff;
}

.contacts h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.contacts p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  padding-right: 10px;
}

.contacts .btn {
  margin-top: 36px;
  display: block;
  width: 134px;
  padding: 16px 43px;
  border-radius: 5px;
}

.footer {
  padding-top: 70px;
  margin-bottom: 70px;
}

.footer.catalog-footer {
  margin-bottom: 80px;
}

.social {
  float: left;
  width: 360px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.social ul {
  margin: 0;
  padding: 0;
}

.social li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.social-btn {
  text-indent: -1000px;
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50px;
  margin-right: 10px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: rgba(215, 55, 59, 1);
}

.btn-vk {
  background: #e1e1e1 url("../img/btn-vk.png") no-repeat 50% 50%;
}

.btn-fb {
  background: #e1e1e1 url("../img/btn-fb.png") no-repeat 50% 50%;
}

.btn-inst {
  background: #e1e1e1 url("../img/btn-inst.png") no-repeat 50% 50%;
}

.footer-cta {
  float: left;
  width: 600px;
}

.footer-cta b {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}

.footer-cta p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #444444;
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}

.feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 760px;
  height: 433px;
  margin-left: -480px;
  margin-top: -290px;
  background-color: #ffffff;
  padding: 73px 100px 84px;
  box-shadow: 0px 20px 50px -5px black;
}

.feedback-form-close {
  position: absolute;
  top: 78px;
  right: 110px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.feedback-form-close::before,
.feedback-form-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 25px;
  height: 5px;
  background-color: #fecccd;
  border-radius: 1px;
}

.feedback-form-close::before {
  transform: rotate(45deg);
}

.feedback-form-close::after {
  transform: rotate(-45deg);
}

.feedback-form-close:hover::before,
.feedback-form-close:hover::after {
  background-color: #fb565a;
}

.feedback-form-close:active::before,
.feedback-form-close:active::after {
  background-color: #ffeeee;
}

.feedback-form b {
  font-family: Roboto, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 49px;
}

.feedback-form-left {
  display: block;
  float: left;
}

.feedback-form-right {
  display: block;
  float: right;
}

.feedback-form label {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.feedback-form input[type="text"] {
  display: block;
  width: 332px;
  height: 18px;
  padding: 16px 14px;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  border: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form input[type="text"]:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input[type="text"]:focus {
  border: 2px solid #000000;
}

.feedback-form input[type="text"]:invalid {
  border: 2px solid #e74246;
}

.feedback-form .credentials {
  margin-bottom: 34px;
}

.feedback-form textarea {
  width: 100%;
  resize: none;
  padding: 13px 14px;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  height: 118px;
  margin-bottom: 47px;
  color: #b7b7b7;
}

.feedback-form textarea:focus {
  border: 2px solid #000000;
}

.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form textarea:invalid {
  border: 2px solid #e74246;
}

input:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

input:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
} /* Firefox 19+ */

input:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}/* Firefox 18- */

input:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1);
} /* Firefox 19+ */

textarea:focus:-moz-placeholder {
  color: rgba(68, 68, 68, 1);
}/* Firefox 18- */

textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

input:invalid::-webkit-input-placeholder {
  color: #e74246;
}

input:invalid::-moz-placeholder {
  color: #e74246;
} /* Firefox 19+ */

input:invalid:-moz-placeholder {
  color: #e74246;
}/* Firefox 18- */

input:invalid:-ms-input-placeholder {
  color: #e74246;
}

textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
} /* Firefox 19+ */

textarea:-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}/* Firefox 18- */

.feedback-form input[type="submit"] {
  border: none;
  border-radius: 5px;
  display: block;
  width: 240px;
  padding: 16px 10px;
  background-color: #fb565a;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.feedback-form input[type="submit"]:hover {
  background-color: #e74246;
}

.feedback-form input[type="submit"]:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.shop-title h1 {
  width: 760px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 71px;
  padding-bottom: 108px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: #000000;
}

.filter {
  float: left;
  width: 260px;
  margin-right: 140px;
  margin-top: 55px;
}

.price,
.grid,
.features {
  border: none;
  padding: 0;
  margin: 0;
}

.form-heading {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  text-transform: uppercase;
  }

.price {
  width: 260px;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
  }

.price-range {
  position: relative;
  height: 41px;
  padding: 0 20px;
  background: #eeeeee;
  border-radius: 5px;
  padding-top: 39px;
  margin-top: 32px;
  margin-bottom: 13px;
}

.price-range .scale {
  height: 2px;
  background: #d7dcde;
}

.price-range .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.price-range .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-range .toggle-max {
  left: 160px;
}

.price-range .toggle-min {
  left: 20px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  font-size: 16px;
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
}

.price-controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  width: 60px;
  padding: 8px 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
  margin-left: 10px;
}

.range-max {
  text-align: right;
}

.grid .form-heading,
.features .form-heading {
  margin-bottom: 7px;
}

.grid label,
.features label {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  width: 160px;
  padding-left: 36px;
  padding-bottom: 12px;
  padding-top: 8px;
  position: relative;
  cursor: pointer;
}

.grid label:hover,
.features label:hover {
  color: #000000;
}

.grid input[type="radio"]:disabled + label,
.features input[type="checkbox"]:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.grid input,
.features input {
  display: none;
}

.grid label::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 0 0 5px white,
    0 0 0 8px #b8b8b8;
  position: absolute;
  left: 9px;
  top: 13px;
}

.grid input[type="radio"]:checked + label::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #b8b8b8;
  border-radius: 50%;
  box-shadow:
    0 0 0 5px white,
    0 0 0 8px #b8b8b8;
  position: absolute;
  left: 9px;
  top: 13px;
}

.features {
  margin-top: 34px;
  margin-bottom: 39px;
}

.features label::before {
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.png") no-repeat 0 0;
  position: absolute;
  left: 1px;
  top: 7px;
  opacity: 0.4;
}

.features input[type="checkbox"]:checked + label::before {
  content: "";
  display: block;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.png") no-repeat 0 0;
  position: absolute;
  left: 1px;
  top: 7px;
  opacity: 0.4;
}

.filter .btn {
  border: none;
  border-radius: 5px;
  display: block;
  width: 260px;
  padding: 16px 10px;
  background-color: #eeeeee;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.filter input[type="submit"]:hover {
  background-color: #dfdfdf;
}

.filter input[type="submit"]:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
}

.arrange {
  float: right;
  width: 760px;
  margin-top: 58px;
}

.arrange-heading {
  display: block;
  float: left;
  width: 160px;
  margin-right: 240px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #283136;
}

.arrange-group-1 {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 300px;
}

.arrange-group-2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 60px;
}

.arrange li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.arrange-btn {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-right: 27px;
  margin-right: -5px;
}

.arrange-btn-active {
  opacity: 1;
}

.arrange-btn:hover:not(.arrange-btn-active) {
  opacity: 0.6;
}

.arrange-btn:active:not(.arrange-btn-active) {
  opacity: 1;
}

.sort-btn {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  opacity: 0.3;
}

.z-a::before {
  content: "";
  display: block;
	width: 9px;
	height: 9px;
  background: url("../img/sort-down.png") no-repeat;
  position: absolute;
  left: 5px;
  top: 7px;
}

.a-z::before {
  content: "";
  display: block;
	width: 9px;
	height: 9px;
  background: url("../img/sort-up.png") no-repeat;
  position: absolute;
  left: 8px;
  top: 7px;
}

.sort-btn-active {
  opacity: 1;
  cursor: text;
}

.sort-btn:hover:not(.sort-btn-active) {
  opacity: 0.6;
}

.sort-btn:active:not(.sort-btn-active) {
  opacity: 1;
}

.catalog-content {
  float: left;
  width: 760px;
  margin-top: 53px;
}

.catalog-content img {
  display: block;
}

.flypage {
  float: left;
  width: 360px;
  margin-right: 40px;
  background-color: #e9e9e9;
  padding-top: 39px;
  position: relative;
  margin-bottom: 30px;
}

.flypage:hover {
  background-color: #4d4d4d;
}

.flypage:nth-child(1),
.flypage:nth-child(2) {
  margin-bottom: 36px;
}

.flypage p,
.flypage h2,
.flypage a {
  margin: 0;
  padding: 0;
}

.flypage {
  position: relative;
}

.flypage::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 15px;
  box-shadow:
    23px 0px 0 0 white,
    46px 0px 0 0 white;
}


.flypage:nth-child(2n) {
  margin-right: 0;
}

.flypage-hover {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #eeeeee;
  width: 100%;
}

.flypage-hover h2 {
  margin: 0;
  padding: 0;
}
.flypage-hover .flypage-title {
  display: block;
  width: 160px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 26px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.flypage-hover p {
  display: block;
  width: 240px;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.flypage-hover .flypage-price {
  display: block;
  width: 160px;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 20px;
  margin: 30px auto 43px;
  text-align: center;
  border-radius: 5px;
  background-color: #fb565a;
}

.flypage-price:hover {
  background-color: #e74246;
}

.flypage-price:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.flypage:hover .flypage-hover {
  display: block;
}

.catalog-pages {
  float: left;
  width: 760px;
  margin-top: 30px;
  margin-left: 400px;
}

.catalog-pages li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}

.catalog-pages ol {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}

.catalog-pages .page-number,
.catalog-pages .page-next {
  display: inline-block;
  color: #000000;
  background-color: #eeeeee;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  width: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 5px;
}

.catalog-pages .page-number:not(.page-number-active):hover,
.catalog-pages .page-next:not(.page-number-active):hover {
  background-color: #dfdfdf;
}

.catalog-pages .page-number:not(.page-number-active):active,
.catalog-pages .page-next:not(.page-number-active):active {
  background-color: #dfdfdf;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages .page-next {
  min-width: 240px;
  border-radius: 5px;
  padding: 0 10px;
}

.catalog-pages .page-number-active {
  width: 44px;
  line-height: 44px;
  border: 3px solid #dbdbdb;
  background-color: white;
}
